<p><%= Spree.t(:name) %>: <%= @contact.name %></p>
<p><%= Spree.t(:email) %>: <%= @contact.email %></p>
<p><%= Spree.t(:phone) %>: <%= @contact.phone %></p>
<%= @contact.message %>

-------------------------------------
<%= SpreeContactUs.require_name ? Spree.t(:sent_by_name, :email => @contact.email, :name => @contact.name) : Spree.t(:sent_by_contact_form, :email => @contact.email) %>
