<div class="row">
  <div class="col-md-12">
    <div id="map-outer" class="col-md-12">
      <div id="address" class="col-md-4">
            <%= render_snippet('/company-contact-us') %>
      </div>
      <div id="map-container" class="col-md-8">
            <%= render_snippet('/map-contact-us') %>
        </div>
    </div><!-- /map-outer -->
  </div>
</div> <!-- /row -->

<div class="row">

  <%= form_for @contact, :url => contacts_path, :html => { :novalidate => '', :class => 'form-horizontal'} do |f| %>
      <div class="col-md-12" id="name_email">
        <div class="col-md-4 input-group" id="name">
          <span class="input-group-addon" >
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          <%= f.text_field :name, class: 'form-control required',:id =>  "name", :placeholder => Spree.t(:name)  %>
        </div>
        <div class="col-md-4  input-group" id="email">
          <span class="input-group-addon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
          <%= f.email_field :email, class: 'form-control required', :id => "email", :placeholder => t(:email_address) %>
        </div>
        <div class="col-md-4 input-group" id="phone">
          <span class="input-group-addon">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </span>
          <%= f.text_field :phone, class: 'form-control',:id =>  "phone", :placeholder => Spree.t(:phone)  %>
        </div>
      </div>
      <div class="col-md-12 col-xs-12" id="comments">
        <div class="col-md-12 input-group">
              <span class="input-group-addon">
                <i class="fa fa-pencil"></i>
              </span>
          <%= f.text_area :message, class: 'form-control required', :rows => "6", :id => "comments_area", :placeholder => t(:your_comment_here) %>
        </div>
      </div>
      <div class="col-md-12 col-xs-12">
				<%= recaptcha_tags({hl:I18n.locale}) %>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="col-md-12 input-group">
          <label class="checkbox required micro" id="label_contact_term_and_cond" for="contact_term_and_cond" required>
            <input type="checkbox" id="contact_term_and_cond" name="contact[term_and_cond]" required="required" value="1" />
            <%= t(:contact_term_and_cond) %>
          </label>
        </div>
      </div>
      <div class="col-md-12 col-xs-12">
        <%= f.submit Spree.t(:submit), :alt => Spree.t(:submit), :class => 'btn btn-primary btn-lg', :id => 'contact_us_contact_submit', :title => Spree.t(:submit) %>
      </div>
  <% end %>
  <% if I18n.locale != :en %>
      <% content_for :head do %>
          <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale.to_s.downcase.gsub("-", "") %>.js"></script>
      <% end %>
  <% end %>  
</div>

